################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASP.NET-Core-Middleware/FileContentIndex
/obj
/.vs/ASP.NET-Core-Middleware/v17
/.vs
/bin/Debug/net7.0
